.App {
  text-align: center;
}
.bgdiv{
  
  margin-bottom: 130px;
  
  /*otro metodo para seleccionar parte de imagen....(1)/
  /* width:100%;
  height:200px;
  overflow: hidden; */
  
}
.bgfix{
 
}
@media (min-width: 550px){
  .card-columns {
  column-count: 2 !important;
    }
  }
  @media (min-width: 850px){
    .card-columns {
    column-count: 3 !important;
      }
    }
@media (min-width: 1100px){
.card-columns {
column-count: 4 !important;
  }
}
@media (min-width: 1400px){
  .card-columns {
  column-count: 5 !important;
    }
  }
  @media (min-width: 1700px){
    .card-columns {
    column-count: 6 !important;
      }
    }
    @media (min-width: 2000px){
      .card-columns {
      column-count: 7 !important;
        }
      }
      @media (min-width: 2300px){
        .card-columns {
        column-count: 8 !important;
          }
        }
        @media (min-width: 2600px){
          .card-columns {
          column-count: 9 !important;
            }
          }
          @media (min-width: 2900px){
            .card-columns {
            column-count: 10 !important;
              }
            }
.bg {
  position: absolute; 
  clip: rect(50px, 23810px, 410px, 0px); /*arriba, derecha,abajo,izquierda*/
  width: 100%;
  height: 600px;
  margin-top: -100px;
  margin-left: 0px;


  /* z-index: -1;   /*...(1)jumnto con este/
  width: 100%;
  top: 500px;
  margin-bottom: 500px; */
}
.sh{
  
  z-index: -2;
}

.page-link{
 /* border: 1px solid #dee2e6 !important; */
 /* border: none !important; */
 border-radius: 50% !important ;
 overflow: hidden !important; 
 /* background-color: rgba(22, 25, 230, 0.76) !important ; */
 margin: 1px 1px 1px 1px !important;
}

.style-pagination{
  position: relative;
  display: block;
  padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: rgba(207, 215, 246, 0.48);
    border-radius: 10px;
}